* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Tahoma, sans-serif;
    background-color: #000000;
}
header {
    background-color: #ffffff;
  
}
#topo {
    width: 900px;
    height: 200px;
    margin: auto;
    
}
header h1 {
    color: #CD141B;
    letter-spacing: 12px;
    line-height: 70px;
    width: 600px;
    float: left;
    padding: 0px 0 30px;
    text-transform: uppercase;
    font-style: italic;
    font-size: 75px;
    
}
header p{
    color: #030303;
    font-size: 20px;    
    width: 600px;
    float: left;
    margin-top: 40px;
    text-transform: uppercase;
}
header img {
    margin-top: 10px;
}
main h2 {
    color: #fff;
    font-size: 32px;
    letter-spacing: 2px;
    text-align: center;
    padding: 30px 0 40px;
}


#conteudo-home {
    width: 1280px;
    height: 280px;
    margin: auto;
} 
.opcao {
    background-color: #FFF;
    border: 2px solid #CCC;
    border-radius: 15px;
    margin: 40px;
    float: left;
    height: 450px;
    overflow: hidden;

} 
 
.opcao img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease, border 0.3s ease;
}

.opcao:hover img {
    transform: scale(1); 
    border: 5px solid #CCC;
}

#conteudo-home img {
    border-radius: 15px 15px 0 0;
    margin-top: -2px;
    margin-left: -2px;
    
    
}
#conteudo-home a {
    display: block;
    width: 235px;
    height: 400px;
}
#conteudo-home p {
    text-align: center;
    margin: 15px 0 20px;
    font-weight: bold;
    color: #222522;
}
footer {
    background-color: #ccc;
    text-align: center;
    font-style: italic;
    color: #2f2f30;
    padding: 20px 0;
    margin-top: 280px;
}

/* Páginas internas */
#conteudo-interno {
    width: 1280px;
    height: 480px;
    margin: auto;

}
#conteudo-interno h2{
    text-align: left;
    text-indent: 10px;
}
.foto {
    border: 2px solid #CCC;
    border-radius: 15px;
    margin: 10px;
    float: left;
}
.foto img {
    border-radius: 15px 15px 0 0 ;
    width: 400px;
    height: 280px;

}
.legenda{
    text-align: center;
    
}
.capital{
    font-weight: bold;
}
.voltar {
    font-size: 14px;
    font-style: italic;
    display: block;
    text-align: center;
    padding: 20px 0;
}

